<h1>Welcome to Yelpdemo</h1>
<h2>This is one of the sample applications of <%= link_to "BaseRails", "http://www.baserails.com" %>, a platform that teaches people to build aweseom custom</h2>
<h3>This is a smaller text. Sign up and learn today</h3>
